<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Parts Catalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <h3 style="margin-left: 6px;">Popular Categories</h3>
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="6" size-md="3" *ngFor="let cat of popularCategories">
          <ion-card class="speaker-card">
            <ion-card-header>
                <img [src]="cat.image"/>
                <ion-card-title style="margin-left: 6px;">{{cat.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item *ngFor="let link of cat.subLinks">{{link.title}}</ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
